#focus .area {
  fill: rgba(5, 103, 150, 0.69);
  clip-path: url(#clip);
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: optimizeSpeed;
}


#focus .brush .extent {
  stroke: #bbbbbb;
  fill-opacity: .055;
  shape-rendering: optimizeSpeed;
}


.clickable {
  cursor: pointer;
}

#drop-background {
  position: absolute;
  right: 0; left: 0; top: 0; bottom: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
}

#drop {
  padding: 20px;
  font-size: 21px;
  height:330px;
  width: 330px;
  font-weight: bold;
  line-height: 1.3em;
  border: 4px solid black;
  border-radius: 50px;
  text-shadow: -1px -1px #eeeeee;
  font-weight: normal;
  margin: auto;
  margin-top: 15%;
  background-color: white;
  overflow: hidden;
}

.list-body svg {
  height: 200px;
}

